{% extends "../../base.html.twig" %}

{% block page_title %}{{ 'ra.vetting.sms.send_challenge.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'vetting/partial/progress_bar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
        <li>{{ 'ra.vetting.sms.text.ensure_phone_has_signal'|trans }}</li>
        <li>{{ 'ra.vetting.sms.text.after_pressing_proceed'|trans }}</li>
    </ul>

    <hr>

    {% if otpRequestsRemaining != maximumOtpRequests %}
        <div class="alert alert-{% if otpRequestsRemaining == 0 %}error{% elseif otpRequestsRemaining == 1 %}warning{% else %}info{% endif %}">
            {{ 'ra.registration.sms.text.otp_requests_remaining'|trans({ '%count%': otpRequestsRemaining }) }}
        </div>
    {% endif %}

    <div class="form-ra-send-sms-challenge">

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <th scope="row">{{ 'ra.form.ra_send_sms_challenge.label.phone_number'|trans }}</th>
                        <td>{{ phoneNumber }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <form class="pull-right" action="{{ path('ra_vetting_cancel', { procedureId: app.request.attributes.get('procedureId') }) }}" method="post">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-chevron-left"></i>
                        {{ 'ra.vetting.button.cancel_procedure'|trans }}
                    </button>
                </form>
            </div>
            <div class="col-md-3">
                {{ form(form,  {'attr': {'class': 'pull-right'}}) }}
            </div>
        </div>
    </div>

{% endblock %}
