{% extends '::base.html.twig' %}

{% block page_title %}{{ 'ra.vetting.vetting_completed.title'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:progressBar.html.twig' with {'progress': 100, 'step': 3} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ra.vetting.vetting_completed.text.vetting_completed'|trans }}</p>

    <a class="btn btn-primary" href="{{ path('ra_vetting_search') }}">
        {{ 'ra.vetting.vetting_completed.button.back_to_dashboard'|trans }}
    </a>
{% endblock %}
