{% extends 'base.html.twig' %}

{% block page_title %}{{ 'ra.vetting.start_procedure.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ra-start-vetting-procedure-container">
                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                {{ form_errors(form) }}
                {{ form_widget(form.registrationCode) }}
                {{ form_widget(form.search) }}
                {{ form_end(form) }}
                <p>{{ 'ra.vetting.start_procedure.information'|trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}
