{% extends 'base.html.twig' %}

{% block page_title %}{{ 'ra.vetting.verify_identity.title'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'vetting/partial/progress_bar.html.twig' with {'progress': 60, 'step': 3} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
    <li>{{ 'ra.vetting.verify_identity.text.verify_identity_document'|trans }}</li>
    <li>{{ 'ra.vetting.verify_identity.text.proceed_only_when_id_match_success'|trans }}</li>
    </ul>

    <hr>

    <div class="form-ra-verify-identity">

        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <th scope="row" class="half-width">{{ 'ra.management.overview.common_name'|trans }}</th>
                <td class="half-width">{{ commonName }}</td>
            </tr>
            </tbody>
        </table>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>{{ 'ra.form.verify_identity.document_number.label' | trans }}</strong>
            </div>
            <div class="col-md-6">
                {{ form_widget(form.documentNumber) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 identity-verified">
                {{ form_widget(form.identityVerified) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs"></div>
            <div class="col-md-3 col-xs-6 pull-right">
                {{ form_row(form.verifyIdentity) }}
            </div>
            <div class="col-md-3 col-xs-6 pull-right">
                <button name="{{ form.vars.name }}[{{ form.cancel.vars.name }}]" type="submit" class="btn btn-danger" formnovalidate="formnovalidate">
                    <i class="fa fa-chevron-left"></i>
                    {{ 'ra.vetting.button.cancel_procedure'|trans }}
                </button>
                {% do form.cancel.setRendered %}
            </div>
        </div>

        {{ form_rest(form) }}
    </div>

{% endblock %}
