{% extends 'base.html.twig' %}

{% block content %}
    <div class="form-ra-create-ra">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.management.create_ra.ra_candidate.name'|trans }}</label>
                <div class="control-text col-sm-9">{{ raCandidate.commonName}}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.management.create_ra.ra_candidate.email'|trans }}</label>
                <div class="control-text col-sm-9">{{ raCandidate.email }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.management.create_ra.ra_candidate.institution'|trans }}</label>
                <div class="control-text col-sm-9">{{ raCandidate.institution }}</div>
            </div>
        </div>
        {{ form(form) }}
    </div>

    <div class="modal" id="create_ra_confirmation_modal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="{{ 'ra.management.create_ra.modal.please_confirm' }}" aria-describedby="{{ 'ra.management.create_ra.modal.are_you_sure'|trans }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'ra.management.create_ra.modal.please_confirm'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p class="question bg-info">{{ 'ra.management.create_ra.modal.are_you_sure'|trans }}</p>
                    <p>
                        <table class="table table-bordered">
                            <tr>
                                <th scope="row">{{ 'ra.management.create_ra.ra_candidate.name'|trans }}</th>
                                <td class="name">{{ raCandidate.commonName }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'ra.management.create_ra.ra_candidate.email'|trans }}</th>
                                <td class="email">{{ raCandidate.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'ra.management.create_ra.ra_candidate.institution'|trans }}</th>
                                <td class="institution">{{ raCandidate.institution }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'ra.management.create_ra.ra_candidate.location'|trans }}</th>
                                <td class="location"></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'ra.management.create_ra.ra_candidate.conctact_information'|trans }}</th>
                                <td class="contact-information"></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'ra.management.create_ra.ra_candidate.role'|trans }}</th>
                                <td class="role"></td>
                            </tr>
                        </table>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link cancel" data-dismiss="modal">{{ 'ra.management.create_ra.modal.cancel'|trans }}</button>
                    <button type="button" class="btn btn-primary confirm">{{ 'ra.management.create_ra.modal.confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
