{% extends "base.html.twig" %}

{% block page_title %}{{ 'ra.vetting.u2f.prove_possession.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:vetting/partial:progress_bar.html.twig' with {'progress': 35, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
        <li>{{ 'ra.vetting.u2f.text.ensure_device_connected_to_pc'|trans }}</li>
        <li>{{ 'ra.vetting.u2f.text.activate_u2f_device'|trans }}</li>
    </ul>

    <hr>

    {% if authenticationFailed is defined and authenticationFailed %}
        {# We don't render the form in case of an error to prevent potential continuous resubmission of device errors #}
        <a href="{{ path('ra_vetting_u2f_authentication', { procedureId: procedureId }) }}" class="btn btn-primary">
            {{ 'ra.vetting.u2f.button.retry'|trans }}
        </a>
    {% else %}
        {{ form(form) }}
    {% endif %}

{% endblock %}

{% block body_end %}
    {% javascripts
    '@SurfnetStepupU2fBundle/Resources/public/u2f-api.js'
    '@SurfnetStepupU2fBundle/Resources/public/u2f.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock body_end %}
