{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ra.registration.yubikey.title.enter_challenge'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:progressBar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ra.vetting.yubikey.text.help_user_enter_challenge'|trans }}</p>

    <ol>
        <li>{{ 'ra.vetting.yubikey.text.connect_yubikey_to_pc'|trans }}</li>
        <li>{{ 'ra.vetting.yubikey.text.ensure_form_field_focus'|trans }}</li>
        <li>{{ 'ra.vetting.yubikey.text.press_once_form_auto_submitted'|trans }}</li>
    </ol>

    <hr>

    {{ form(form) }}

{% endblock %}
