{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ra.vetting.sms.prove_possession.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:progressBar.html.twig' with {'progress': 35, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ra.vetting.sms.text.help_user_enter_challenge'|trans }}</p>

    <ul>
        <li>{{ 'ra.vetting.sms.text.enter_challenge_below'|trans }}</li>
        <li>{{ 'ra.vetting.sms.text.retry_if_not_received'|trans }}</li>
    </ul>

    <hr>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_label(form.challenge, null, {'label_attr': {'class': 'pull-right'}}) }}
        </div>
        <div class="col-md-8">
            {{ form_widget(form.challenge) }}
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row offset-top">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="col-md-5">
            {{ form_row(form.resendChallenge) }}
        </div>
        <div class="col-md-3">
            <button name="ra_verify_phone_number[cancel]" class="btn btn-danger pull-right" formnovalidate="formnovalidate">
                <i class="fa fa-chevron-left"></i>
                {{ 'ra.vetting.button.cancel_procedure'|trans }}
            </button>
            {% do form.cancel.setRendered %}
        </div>
        <div class="col-md-3">
            {{ form_row(form.verifyChallenge) }}
        </div>
    </div>
    {{ form_rest(form) }}


{% endblock %}
