{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ra.vetting.sms.prove_possession.title.page'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:progressBar.html.twig' with {'progress': 35, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ra.vetting.sms.text.help_user_enter_challenge'|trans }}</p>

    <ul>
        <li>{{ 'ra.vetting.sms.text.enter_challenge_below'|trans }}</li>
        <li>{{ 'ra.vetting.sms.text.retry_if_not_received'|trans }}</li>
    </ul>

    <hr>

    {{ form(form) }}

    <hr>

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:cancelVettingProcedure.html.twig' with { 'procedureId': procedureId } only %}

{% endblock %}
