{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block title %}
    {%  if block('page_title') is not empty %}{{ block('page_title') }} &mdash; {% endif %}
    {{ 'app.name'|trans }}
{% endblock title %}
{% block head_style %}
    {% stylesheets
    filter='less'
    '@SurfnetStepupRaRaBundle/Resources/public/less/style.less'
    '@SurfnetStepupBundle/Resources/public/less/stepup.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
    {#{{ mopa_bootstrap_navbar('frontendNavbar') }}#}
{% endblock navbar %}

    {% block header %}
    {% endblock header %}

        {% block page_header %}
            <div class="page-header clearfix">
                <img src="/images/SURFconext.png" class="pull-right logo" alt="SURFconext">
                <h1>{{ 'app.name'|trans }}</h1>
            </div>
            {% block menu %}
            {% if app.user %}
            <div class="row-fluid">
                <div class="col-sm-6">
                    <ul class="nav nav-pills">
                        <li role="presentation"{% if app.request.attributes.get('_route') starts with 'ra_vetting' %} class="active"{% endif %}>
                            <a href="{{ path('ra_vetting_search') }}">{{ 'ra.menu.registration'|trans }}</a>
                        </li>
                        <li role="presentation"{% if app.request.attributes.get('_route') starts with 'ra_second_factors' %} class="active"{% endif %}>
                            <a href="{{ path('ra_second_factors_search') }}">{{ 'ra.menu.search'|trans }}</a>
                        </li>
                    {% if is_granted('ROLE_RAA') or is_granted('ROLE_SRAA') %}
                        <li role="presentation"{% if app.request.attributes.get('_route') starts with 'ra_management' %} class="active"{% endif %}>
                            <a href="{{ path('ra_management_manage') }}">{{ 'ra.menu.ra_management'|trans }}</a>
                        </li>
                    {% endif %}
                        <li role="presentation"{% if app.request.attributes.get('_route') starts with 'ra_locations' %} class="active"{% endif %}>
                            <a href="{{ path('ra_locations_manage') }}">{{ 'ra.menu.ra_locations'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <form name="logout" method="post" action="{{ logout_url('saml_based') }}" class="pull-right">
                        <button type="submit" class="btn btn-link"><i class="fa fa-sign-out"></i> {{ 'button.logout'|trans }}</button>
                    </form>
                        {% set locale_switcher = stepup_locale_switcher(app.request.locale, 'ra_switch_locale', {'return-url': app.request.uri}) %}
                        {{ form_start(locale_switcher, { attr: { class: 'form-inline' }}) }}
                        {{ form_widget(locale_switcher.locale) }}
                        {{ form_widget(locale_switcher.switch) }}
                        {{ form_end(locale_switcher) }}
                {% if is_granted('ROLE_SRAA') %}
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"{% if app.request.attributes.get('_route') == 'sraa_select_institution' %} class="active"{% endif %}>
                            <a href="{{ path('sraa_select_institution') }}">
                                {{ app.user.institution }} <i class="fa fa-exchange"></i> {{ 'ra.menu.sraa_change_institution'|trans }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            {% endif %}
            {% endblock menu %}
        {% endblock page_header %}

        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row-fluid">
                    <div id="flash" class="span12">
                        {{ session_flash() }}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block content_row %}
            {% block content %}
            {% endblock content %}
        {% endblock content_row %}

        {% block footer %}
            <div class="row-fluid">
                <div class="span8 offset2">
                    <hr>
                    <ul class="nav nav-pills">
                        <li><a href="{{ footer_link_url }}">{{ 'footer.documentation'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        {% endblock footer %}

{% block foot_script %}
    {% javascripts
    '@SurfnetStepupBundle/Resources/public/js/jquery-1.11.2.min.js'
    '@SurfnetStepupBundle/Resources/public/js/stepup.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
    '@SurfnetStepupRaRaBundle/Resources/public/js/stepup-ra.js'
    '@SurfnetStepupRaRaBundle/Resources/public/js/moment/min/moment.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}
{% block foot_script_additional %}
{% endblock foot_script_additional %}
