{% extends '::base.html.twig' %}

{% block page_title %}{{ 'ra.vetting.verify_identity.title'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:progressBar.html.twig' with {'progress': 60, 'step': 3} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
    <li>{{ 'ra.vetting.verify_identity.text.verify_identity_document'|trans }}</li>
    <li>{{ 'ra.vetting.verify_identity.text.proceed_only_when_id_match_success'|trans }}</li>
    </ul>

    <hr>

    <div class="form-ra-verify-identity">

        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <th scope="row" class="half-width">Name</th>
                <td class="half-width">{{ commonName }}</td>
            </tr>
            </tbody>
        </table>

        {{ form(form) }}
    </div>

    <hr>

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:cancelVettingProcedure.html.twig' with { 'procedureId': procedureId } only %}

{% endblock %}
