{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Configuration of {{ institution }}</h3>

            {% if form is not null %}
            {{ form(form) }}
            {% endif %}

            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>{{ 'ra.institution_configuration.use_ra_locations'|trans }}</th>
                    <td>{{ configuration.useRaLocations ? 'ra.institution_configuration.yes'|trans : 'ra.institution_configuration.no'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.show_ra_contact_information'|trans }}</th>
                    <td>{{ configuration.showRaaContactInformation ? 'ra.institution_configuration.yes'|trans : 'ra.institution_configuration.no'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.verify_email'|trans }}</th>
                    <td>{{ configuration.verifyEmail ? 'ra.institution_configuration.yes'|trans : 'ra.institution_configuration.no'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.allowed_second_factors'|trans }}</th>
                    <td>
                        {% if configuration.allowedSecondFactors is empty %}
                            {{ 'ra.institution_configuration.all_second_factors_enabled'|trans }}
                        {% else %}
                        <ul>
                            {% for allowedSecondFactor in configuration.allowedSecondFactors %}
                                <li>{{ allowedSecondFactor }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.number_of_tokens_per_identity'|trans }}</th>
                    <td>{{ configuration.numberOfTokensPerIdentity }}</td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.select_raa'|trans }}</th>
                    <td>
                        {% if configuration.selectRaa|length > 0 %}
                        <ul>
                            {% for selectRaaFrom in configuration.selectRaa %}
                                <li>{{ selectRaaFrom }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            {{ 'ra.institution_configuration.no_entries'|trans }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.use_ra'|trans }}</th>
                    <td>
                        {% if configuration.useRa|length > 0 %}
                        <ul>
                            {% for useRaFrom in configuration.useRa %}
                                <li>{{ useRaFrom }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            {{ 'ra.institution_configuration.no_entries'|trans }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'ra.institution_configuration.use_raa'|trans }}</th>
                    <td>
                        {% if configuration.useRaa|length > 0 %}
                        <ul>
                            {% for useRaaFrom in configuration.useRaa %}
                                <li>{{ useRaaFrom }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            {{ 'ra.institution_configuration.no_entries'|trans }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
