{% extends "base.html.twig" %}

{% block page_title %}{{ secondFactorConfig.getPageTitle() }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:vetting/partial:progress_bar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ secondFactorConfig.getExplanation() }}</p>

    <hr>

    {% if gssfIdMismatch is defined %}
        <div class="alert alert-danger">{{ secondFactorConfig.getGssfIdMismatch() }}</div>
    {% endif %}
    {{ form(form) }}

    <hr>

    {% include 'SurfnetStepupRaRaBundle:vetting/partial:cancel_vetting_procedure.html.twig' with { 'procedureId': app.request.attributes.get('procedureId') } only %}

{% endblock %}
