{% extends "::base.html.twig" %}

{% block page_title %}{{ ('ra.vetting.gssf.initiate.' ~ provider ~ '.title.page')|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupRaRaBundle:Vetting/partial:progressBar.html.twig' with {'progress': 25, 'step': 2} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>
    <ul><!-- TODO translate using translations.twig and messages.LANG.xliff -->
        <li>
            In de volgende stap moet de registrant met zijn smartphone aantonen dat hij een tiqr-account geregistreerd heeft
        </li>
        <li>
            Na het succesvol verifiëren van het tiqr account, keer je terug in stap 3 deze applicatie
        </li>
        <li>
            Klik vervolgens op ‘{{ ('ra.vetting.gssf.initiate.' ~ provider ~ '.button.initiate')|trans }}’ om verder te gaan.
        </li>
    </ul>
    </p>

    <!-- TODO p>{{ ('ra.vetting.gssf.initiate.' ~ provider ~ '.text.explanation')|trans }}</p -->

    <hr>

    <form action="{{ path('ra_vetting_gssf_authenticate', {'procedureId': procedureId, 'provider': provider}) }}" method="post">
        {% if gssfIdMismatch is defined %}
            <div class="alert alert-danger">{{ ('ra.vetting.gssf.initiate.' ~ provider ~ '.error.gssf_id_mismatch')|trans }}</div>
        {% endif %}

        <button type="submit" class="btn btn-primary">{{ ('ra.vetting.gssf.initiate.' ~ provider ~ '.button.initiate')|trans }}</button>
    </form>

{% endblock %}
