{% extends '::base.html.twig' %}

{% block content %}
    <div class="form-ra-amend-ra-info">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.management.amend_ra_info.ra_listing.name'|trans }}</label>
                <div class="control-text col-sm-9">{{ raListing.commonName}}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.management.amend_ra_info.ra_listing.email'|trans }}</label>
                <div class="control-text col-sm-9">{{ raListing.email }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.management.amend_ra_info.ra_listing.institution'|trans }}</label>
                <div class="control-text col-sm-9">{{ raListing.institution }}</div>
            </div>
        </div>
        {{ form(form) }}
    </div>
{% endblock %}
