{% extends '::base.html.twig' %}

{% block page_title %}{{ 'ra.auditlog.title'|trans }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="form-horizontal emulate-form-layout">
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.auditlog.commonName'|trans }}</label>
                <div class="control-text col-sm-9">{{ identity.commonName }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.auditlog.email'|trans }}</label>
                <div class="control-text col-sm-9">{{ identity.email }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ra.auditlog.institution'|trans }}</label>
                <div class="control-text col-sm-9">{{ identity.institution }}</div>
            </div>
        </div>
    {% if auditLog.elements|length > 0 %}
        <table class="table table-striped table-hover orderable">
            <thead>
                <tr>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'ra.auditlog.second_factor_identifier'|trans, 'secondFactorIdentifier') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'ra.auditlog.second_factor_type'|trans, 'secondFactorType') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'ra.auditlog.event'|trans, 'event') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'ra.auditlog.when'|trans, 'recordedOn') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'ra.auditlog.actor'|trans, 'actorCommonName') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(pagination, 'ra.auditlog.institution'|trans, 'actorInstitution') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for logEntry in auditLog.elements %}
                <tr>
                    <td>{{ logEntry.secondFactorIdentifier }}</td>
                    <td>{{ logEntry.secondFactorType|trans_second_factor_type }}</td>
                    <td>{{ ('ra.auditlog.action.' ~ logEntry.action)|trans }}</td>
                    <td><time datetime="{{ logEntry.recordedOn.format('c') }}">{{ logEntry.recordedOn.format("Y-m-d H:i e") }}</time></td>
                    <td>{{ logEntry.actorCommonName }}</td>
                    <td>{{ logEntry.actorInstitution }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    {% else %}
        <p class="alert alert-info" role="alert">
            {{ 'ra.auditlog.no_entries'|trans }}
        </p>
    {% endif %}
    </div>
</div>
{% endblock %}
